# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.DS_Store
# C extensions
*.so

# Python garbages
*.py~
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
checkpoints/vg_benchmark_object/R-101-C4/sg_baseline_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0009999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_baseline_relpn_joint_2/BatchSize_2/Base_LR_0.001/last_checkpoint
checkpoints/vg_benchmark_object/R-101-C4/sg_baseline_relpn_joint_2/BatchSize_2/Base_LR_0.005/checkpoint_0004999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_baseline_relpn_joint_2/BatchSize_2/Base_LR_0.005/checkpoint_0009999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_baseline_relpn_joint_2/BatchSize_2/Base_LR_0.005/last_checkpoint
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0009999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0019999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0029999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0039999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0049999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0059999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0069999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0079999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0089999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0099999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0109999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0119999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0129999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0139999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0149999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0159999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0169999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0179999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0189999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0199999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0209999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0219999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0229999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0239999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0249999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0259999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0269999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0279999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0289999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0299999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/checkpoint_0304999.pth
checkpoints/vg_benchmark_object/R-101-C4/sg_grcnn_relpn_joint_2/BatchSize_2/Base_LR_0.001/last_checkpoint
logs/sg_baseline_2021-01-06-14-21-31.txt
logs/sg_baseline_2021-01-06-14-29-09.txt
logs/sg_baseline_2021-01-06-14-31-01.txt
logs/sg_baseline_2021-01-06-14-31-50.txt
logs/sg_baseline_2021-01-06-14-33-09.txt
logs/sg_baseline_2021-01-06-14-34-42.txt
logs/sg_baseline_2021-01-06-14-35-33.txt
logs/sg_baseline_2021-01-06-14-37-23.txt
logs/sg_baseline_2021-01-06-14-52-01.txt
logs/sg_baseline_2021-01-06-14-58-19.txt
logs/sg_baseline_2021-01-06-14-59-10.txt
logs/sg_baseline_2021-01-06-15-01-47.txt
logs/sg_baseline_2021-01-06-15-02-45.txt
logs/sg_baseline_2021-01-06-15-03-23.txt
logs/sg_baseline_2021-01-06-15-05-32.txt
logs/sg_baseline_2021-01-06-15-07-57.txt
logs/sg_baseline_2021-01-06-15-10-04.txt
logs/sg_baseline_2021-01-06-15-11-40.txt
logs/sg_baseline_2021-01-06-15-15-55.txt
logs/sg_baseline_2021-01-06-15-17-08.txt
logs/sg_baseline_2021-01-06-15-17-56.txt
logs/sg_baseline_2021-01-06-15-18-56.txt
logs/sg_baseline_2021-01-06-15-24-40.txt
logs/sg_baseline_2021-01-06-15-26-49.txt
logs/sg_baseline_2021-01-06-15-40-11.txt
logs/sg_baseline_2021-01-06-15-42-51.txt
logs/sg_baseline_2021-01-06-15-43-57.txt
logs/sg_baseline_2021-01-06-15-45-21.txt
logs/sg_baseline_2021-01-06-15-45-56.txt
logs/sg_baseline_2021-01-06-16-00-32.txt
logs/sg_baseline_2021-01-06-16-00-58.txt
logs/sg_baseline_2021-01-06-16-01-14.txt
logs/sg_baseline_2021-01-07-10-44-32.txt
logs/sg_baseline_2021-01-07-10-48-30.txt
logs/sg_baseline_2021-01-07-10-53-56.txt
logs/sg_baseline_2021-01-09-09-24-55.txt
logs/sg_baseline_2021-01-09-09-39-26.txt
logs/sg_baseline_2021-01-09-09-44-02.txt
logs/sg_baseline_2021-01-09-09-45-06.txt
logs/sg_baseline_2021-01-11-15-53-51.txt
logs/sg_baseline_2021-01-11-15-55-19.txt
logs/sg_baseline_2021-01-11-15-56-05.txt
logs/sg_baseline_2021-01-11-15-56-56.txt
logs/sg_baseline_2021-01-11-16-04-50.txt
logs/sg_baseline_2021-01-11-16-05-32.txt
logs/sg_baseline_2021-01-11-16-10-00.txt
logs/sg_baseline_2021-01-11-16-17-21.txt
logs/sg_baseline_2021-01-11-16-18-19.txt
logs/sg_baseline_2021-01-11-16-18-29.txt
logs/sg_baseline_2021-01-11-16-34-35.txt
logs/sg_baseline_2021-01-11-16-35-31.txt
logs/sg_baseline_2021-01-11-16-53-15.txt
logs/sg_baseline_2021-01-12-15-10-29.txt
logs/sg_baseline_2021-01-13-19-04-21.txt
logs/sg_baseline_2021-01-13-19-05-40.txt
logs/sg_baseline_2021-01-13-19-14-19.txt
logs/sg_baseline_2021-01-13-19-29-30.txt
logs/sg_baseline_2021-01-13-19-32-46.txt
logs/sg_baseline_2021-01-13-19-41-21.txt
logs/sg_baseline_2021-01-13-19-54-33.txt
logs/sg_baseline_2021-01-13-21-31-04.txt
logs/sg_baseline_2021-01-13-21-31-53.txt
logs/sg_baseline_2021-01-13-21-32-37.txt
logs/sg_baseline_2021-01-13-21-34-25.txt
logs/sg_baseline_2021-01-14-09-43-35.txt
logs/sg_baseline_2021-01-14-18-41-34.txt
logs/sg_baseline_2021-01-15-10-11-07.txt
logs/sg_baseline_2021-01-15-10-16-21.txt
logs/sg_baseline_2021-01-15-10-17-24.txt
logs/sg_baseline_2021-01-15-10-26-19.txt
logs/sg_baseline_2021-01-15-10-30-56.txt
logs/sg_baseline_2021-01-15-10-34-53.txt
logs/sg_baseline_2021-01-15-10-37-16.txt
logs/sg_baseline_2021-01-15-10-58-34.txt
logs/sg_baseline_2021-01-15-10-59-31.txt
logs/sg_baseline_2021-01-15-11-05-20.txt
logs/sg_baseline_2021-01-15-11-06-18.txt
logs/sg_baseline_2021-01-15-11-09-18.txt
logs/sg_baseline_2021-01-15-11-27-10.txt
logs/sg_baseline_2021-01-15-12-37-58.txt
logs/sg_baseline_2021-01-15-12-38-44.txt
logs/sg_baseline_2021-01-15-12-39-43.txt
logs/sg_baseline_2021-01-15-12-42-34.txt
logs/sg_baseline_2021-01-15-12-42-47.txt
logs/sg_baseline_2021-01-15-12-44-28.txt
logs/sg_baseline_2021-01-15-12-44-38.txt
logs/sg_baseline_2021-01-15-12-45-50.txt
logs/sg_baseline_2021-01-15-12-46-52.txt
logs/sg_baseline_2021-01-15-14-24-24.txt
logs/sg_baseline_2021-01-15-14-25-16.txt
logs/sg_baseline_2021-01-15-14-52-05.txt
logs/sg_baseline_2021-01-15-14-53-15.txt
logs/sg_baseline_2021-01-15-16-37-15.txt
logs/sg_baseline_2021-01-15-16-38-47.txt
logs/sg_baseline_2021-01-15-16-40-20.txt
logs/sg_grcnn_2021-01-15-16-42-06.txt
logs/sg_grcnn_2021-01-15-16-42-56.txt
logs/sg_grcnn_2021-01-15-16-59-20.txt
logs/sg_grcnn_2021-01-15-17-00-18.txt
logs/sg_grcnn_2021-01-15-18-44-00.txt
logs/sg_grcnn_2021-01-15-18-45-07.txt
logs/sg_grcnn_2021-01-15-18-52-01.txt
logs/sg_grcnn_2021-01-15-18-53-10.txt
logs/sg_grcnn_2021-01-15-18-53-20.txt
logs/sg_grcnn_2021-01-15-18-55-38.txt
logs/sg_grcnn_2021-01-15-18-58-55.txt
logs/sg_grcnn_2021-01-15-19-00-04.txt
logs/sg_grcnn_2021-01-15-19-02-30.txt
logs/sg_grcnn_2021-01-15-19-09-08.txt
logs/sg_grcnn_2021-01-15-19-11-17.txt
logs/sg_grcnn_2021-01-15-19-12-23.txt
logs/sg_grcnn_2021-01-15-19-14-05.txt
logs/sg_grcnn_2021-01-15-19-14-41.txt
logs/sg_grcnn_2021-01-15-19-17-13.txt
logs/sg_grcnn_2021-01-15-19-18-48.txt
logs/sg_grcnn_2021-01-15-19-19-30.txt
logs/sg_grcnn_2021-01-15-19-23-13.txt
logs/sg_grcnn_2021-01-15-19-24-11.txt
logs/sg_grcnn_2021-01-15-19-24-48.txt
logs/sg_grcnn_2021-01-15-19-25-26.txt
logs/sg_grcnn_2021-01-15-19-27-12.txt
logs/sg_grcnn_2021-01-15-19-27-22.txt
logs/sg_grcnn_2021-01-15-19-28-17.txt
logs/sg_grcnn_2021-01-15-19-29-39.txt
logs/sg_grcnn_2021-01-15-19-31-27.txt
logs/sg_grcnn_2021-01-15-19-32-08.txt
logs/sg_grcnn_2021-01-15-19-37-54.txt
logs/sg_grcnn_2021-01-15-19-38-42.txt
logs/sg_grcnn_2021-01-15-19-42-20.txt
logs/sg_grcnn_2021-01-15-19-43-03.txt
logs/sg_grcnn_2021-01-15-19-43-58.txt
logs/sg_grcnn_2021-01-15-19-46-01.txt
logs/sg_grcnn_2021-01-15-19-47-29.txt
logs/sg_grcnn_2021-01-15-19-48-17.txt
logs/sg_grcnn_2021-01-15-19-49-21.txt
logs/sg_grcnn_2021-01-15-19-52-14.txt
logs/sg_grcnn_2021-01-15-19-53-44.txt
logs/sg_grcnn_2021-01-15-20-59-44.txt
logs/sg_grcnn_2021-01-15-21-00-12.txt
logs/sg_grcnn_2021-01-15-21-01-53.txt
logs/sg_grcnn_2021-01-16-08-37-40.txt
logs/sg_grcnn_2021-01-16-08-39-16.txt
logs/sg_grcnn_2021-01-17-08-58-59.txt
logs/sg_grcnn_2021-01-17-11-06-25.txt
logs/sg_grcnn_2021-01-17-11-08-06.txt
logs/sg_grcnn_2021-01-17-11-08-44.txt
logs/sg_grcnn_2021-01-17-11-09-53.txt
logs/sg_grcnn_2021-01-17-11-11-23.txt
logs/sg_grcnn_2021-01-17-11-12-58.txt
logs/sg_grcnn_2021-01-17-14-03-57.txt
logs/sg_grcnn_2021-01-17-14-04-46.txt
logs/sg_grcnn_2021-01-17-14-06-10.txt
logs/sg_grcnn_2021-01-17-14-08-20.txt
logs/sg_grcnn_2021-01-17-14-09-33.txt
logs/sg_grcnn_2021-01-17-14-12-02.txt
logs/sg_grcnn_2021-01-17-14-16-29.txt
logs/sg_grcnn_2021-01-17-14-17-50.txt
logs/sg_grcnn_2021-01-17-14-26-11.txt
logs/sg_grcnn_2021-01-17-14-28-01.txt
logs/sg_grcnn_2021-01-17-14-28-41.txt
logs/sg_grcnn_2021-01-17-14-29-55.txt
logs/sg_grcnn_2021-01-17-14-33-18.txt
logs/sg_grcnn_2021-01-17-14-34-30.txt
logs/sg_grcnn_2021-01-17-14-36-15.txt
logs/sg_grcnn_2021-01-17-14-43-40.txt
logs/sg_grcnn_2021-01-17-14-45-16.txt
logs/sg_grcnn_2021-01-17-14-46-57.txt
logs/sg_grcnn_2021-01-17-14-48-35.txt
logs/sg_grcnn_2021-01-17-14-49-36.txt
logs/sg_grcnn_2021-01-17-14-50-24.txt
logs/sg_grcnn_2021-01-17-14-58-21.txt
logs/sg_grcnn_2021-01-17-15-03-55.txt
logs/sg_grcnn_2021-01-17-15-05-18.txt
logs/sg_grcnn_2021-01-17-18-47-34.txt
logs/sg_grcnn_2021-01-17-21-48-45.txt
logs/sg_grcnn_2021-01-18-15-34-20.txt
logs/sg_grcnn_2021-01-19-08-40-50.txt
logs/sg_grcnn_2021-01-19-17-23-47.txt
logs/sg_grcnn_2021-01-20-09-21-56.txt
logs/sg_grcnn_2021-01-20-09-25-46.txt
logs/sg_grcnn_2021-01-20-09-27-06.txt
logs/sg_grcnn_2021-01-20-09-27-28.txt
logs/sg_grcnn_2021-01-20-09-36-05.txt
logs/sg_grcnn_2021-01-20-09-41-57.txt
logs/sg_grcnn_2021-01-20-09-42-53.txt
logs/sg_grcnn_2021-01-20-09-45-10.txt
logs/sg_grcnn_2021-01-20-09-45-41.txt
logs/sg_grcnn_2021-01-20-09-46-25.txt
logs/sg_grcnn_2021-01-20-09-46-32.txt
logs/sg_grcnn_2021-01-20-09-47-16.txt
logs/sg_grcnn_2021-01-20-09-47-56.txt
logs/sg_grcnn_2021-01-20-09-52-24.txt
logs/sg_grcnn_2021-01-20-09-53-57.txt
logs/sg_grcnn_2021-01-20-09-54-35.txt
logs/sg_grcnn_2021-01-20-09-55-19.txt
logs/sg_grcnn_2021-01-20-09-56-24.txt
logs/sg_grcnn_2021-01-20-10-01-00.txt
logs/sg_grcnn_2021-01-20-10-02-50.txt
logs/sg_grcnn_2021-01-20-10-02-58.txt
logs/sg_grcnn_2021-01-20-10-04-23.txt
logs/sg_grcnn_2021-01-20-10-05-26.txt
logs/sg_grcnn_2021-01-20-10-07-26.txt
logs/sg_grcnn_2021-01-20-10-07-50.txt
logs/sg_grcnn_2021-01-20-10-11-02.txt
logs/sg_grcnn_2021-01-20-10-15-04.txt
logs/sg_grcnn_2021-01-20-10-16-00.txt
logs/sg_grcnn_2021-01-20-10-19-23.txt
logs/sg_grcnn_2021-01-20-10-34-35.txt
logs/sg_grcnn_2021-01-20-20-24-28.txt
logs/sg_grcnn_2021-01-20-20-25-10.txt
logs/sg_grcnn_2021-01-20-20-29-45.txt
logs/sg_grcnn_2021-01-20-20-31-20.txt
logs/sg_grcnn_2021-01-20-20-47-17.txt
logs/sg_grcnn_2021-01-20-21-06-01.txt
logs/sg_grcnn_2021-01-20-21-07-38.txt
logs/sg_grcnn_2021-01-20-21-14-29.txt
logs/sg_grcnn_2021-01-20-21-14-40.txt
logs/sg_grcnn_2021-01-20-21-19-09.txt
logs/sg_grcnn_2021-01-21-10-44-47.txt
logs/sg_grcnn_2021-01-21-10-54-55.txt
logs/sg_grcnn_2021-01-21-10-56-21.txt
logs/sg_grcnn_2021-01-21-11-00-24.txt
logs/sg_grcnn_2021-01-21-11-03-33.txt
logs/sg_grcnn_2021-01-21-11-06-22.txt
logs/sg_grcnn_2021-01-21-11-06-52.txt
logs/sg_grcnn_2021-01-21-11-10-02.txt
logs/sg_grcnn_2021-01-21-11-11-01.txt
logs/sg_grcnn_2021-01-21-11-13-05.txt
logs/sg_grcnn_2021-01-21-11-13-34.txt
logs/sg_grcnn_2021-01-21-11-15-59.txt
logs/sg_grcnn_2021-01-21-12-36-51.txt
logs/sg_grcnn_2021-01-21-12-41-19.txt
logs/sg_grcnn_2021-01-21-12-41-31.txt
logs/sg_grcnn_2021-01-21-12-44-50.txt
logs/sg_grcnn_2021-01-21-12-45-39.txt
logs/sg_grcnn_2021-01-21-14-25-57.txt
logs/sg_grcnn_2021-01-21-14-36-15.txt
logs/sg_grcnn_2021-01-21-14-41-40.txt
logs/sg_grcnn_2021-01-21-14-42-25.txt
logs/sg_grcnn_2021-01-21-15-00-38.txt
logs/sg_grcnn_2021-01-21-15-01-44.txt
logs/sg_grcnn_2021-01-21-20-21-44.txt
logs/sg_grcnn_2021-01-21-20-28-05.txt
logs/sg_grcnn_2021-01-21-20-30-45.txt
logs/sg_grcnn_2021-01-21-20-44-34.txt
logs/sg_grcnn_2021-01-21-20-51-59.txt
logs/sg_grcnn_2021-01-22-11-08-41.txt
logs/sg_grcnn_2021-01-22-11-08-53.txt
logs/sg_grcnn_2021-01-22-21-02-25.txt
logs/sg_grcnn_2021-01-22-21-03-57.txt
logs/sg_grcnn_2021-01-22-21-05-30.txt
logs/sg_grcnn_2021-01-22-21-16-58.txt
logs/sg_grcnn_2021-01-22-21-18-37.txt
logs/sg_grcnn_2021-01-22-21-18-56.txt
logs/sg_grcnn_2021-01-22-21-19-17.txt
logs/sg_grcnn_2021-01-22-21-21-00.txt
logs/sg_grcnn_2021-01-23-11-02-22.txt
logs/sg_grcnn_2021-01-23-11-03-50.txt
logs/sg_grcnn_2021-01-23-11-05-37.txt
logs/sg_grcnn_2021-01-23-11-09-59.txt
logs/sg_grcnn_2021-01-23-11-20-08.txt
logs/sg_grcnn_2021-01-23-11-20-16.txt
logs/sg_grcnn_2021-01-23-11-20-54.txt
logs/sg_grcnn_2021-01-23-11-24-48.txt
logs/sg_grcnn_2021-01-23-11-25-20.txt
logs/sg_grcnn_2021-01-23-11-35-33.txt
logs/sg_grcnn_2021-01-23-11-36-58.txt
logs/sg_grcnn_2021-01-24-09-13-04.txt
logs/sg_grcnn_2021-01-24-09-46-40.txt
logs/sg_grcnn_2021-01-24-09-47-44.txt
logs/sg_grcnn_2021-01-24-09-48-45.txt
logs/sg_grcnn_2021-01-24-09-57-33.txt
logs/sg_grcnn_2021-01-24-09-59-45.txt
logs/sg_grcnn_2021-01-24-10-00-42.txt
logs/sg_grcnn_2021-01-24-10-01-33.txt
logs/sg_grcnn_2021-01-24-10-22-06.txt
logs/sg_grcnn_2021-01-24-10-24-14.txt
logs/sg_grcnn_2021-01-24-10-25-34.txt
logs/sg_grcnn_2021-01-24-10-39-52.txt
logs/sg_grcnn_2021-01-24-10-49-11.txt
logs/sg_grcnn_2021-01-24-16-57-09.txt
logs/sg_grcnn_2021-01-24-17-22-12.txt
logs/sg_grcnn_2021-01-24-17-27-47.txt
logs/sg_grcnn_2021-01-24-17-50-39.txt
logs/sg_grcnn_2021-01-25-09-40-35.txt
logs/sg_grcnn_2021-01-25-09-42-07.txt
logs/sg_grcnn_2021-01-25-09-42-46.txt
logs/sg_grcnn_2021-01-25-09-53-54.txt
logs/sg_grcnn_2021-01-25-09-55-22.txt
logs/sg_grcnn_2021-01-25-10-03-24.txt
logs/sg_grcnn_2021-01-25-10-06-16.txt
logs/sg_grcnn_2021-01-25-10-07-31.txt
logs/sg_grcnn_2021-01-25-10-08-54.txt
logs/sg_grcnn_2021-01-25-10-13-09.txt
logs/sg_grcnn_2021-01-25-10-16-37.txt
logs/sg_grcnn_2021-01-25-10-17-26.txt
logs/sg_grcnn_2021-01-25-10-18-39.txt
logs/sg_grcnn_2021-01-25-10-19-56.txt
logs/sg_grcnn_2021-01-25-10-22-44.txt
logs/sg_grcnn_2021-01-25-10-24-59.txt
logs/sg_grcnn_2021-01-25-10-27-23.txt
logs/sg_grcnn_2021-01-25-10-29-48.txt
logs/sg_grcnn_2021-01-25-10-34-39.txt
logs/sg_grcnn_2021-01-25-10-35-36.txt
logs/sg_grcnn_2021-01-25-10-39-42.txt
logs/sg_grcnn_2021-01-25-10-45-27.txt
logs/sg_grcnn_2021-01-25-10-52-09.txt
logs/sg_grcnn_2021-01-25-10-55-44.txt
logs/sg_grcnn_2021-01-25-11-00-24.txt
logs/sg_grcnn_2021-01-25-11-03-27.txt
logs/sg_grcnn_2021-01-25-11-04-52.txt
vis_pred/detection_0.jpg
vis_pred/detection_1.jpg
vis_pred/detection_2.jpg
vis_pred/detection_3.jpg
vis_pred/detection_4.jpg
vis_pred/detection_5.jpg
vis_pred/detection_6.jpg
vis_pred/detection_7.jpg
vis_pred/detection_8.jpg
vis_pred/detection_9.jpg
vis_pred/detection_10.jpg
vis_pred/detection_11.jpg
vis_pred/detection_12.jpg
vis_pred/detection_13.jpg
vis_pred/detection_14.jpg
vis_pred/detection_15.jpg
vis_pred/detection_16.jpg
vis_pred/detection_17.jpg
vis_pred/detection_18.jpg
vis_pred/detection_19.jpg
vis_pred/detection_20.jpg
vis_pred/detection_21.jpg
vis_pred/detection_22.jpg
vis_pred/detection_23.jpg
vis_pred/detection_24.jpg
vis_pred/detection_25.jpg
vis_pred/detection_26.jpg
vis_pred/detection_27.jpg
vis_pred/detection_28.jpg
vis_pred/detection_29.jpg
vis_pred/detection_30.jpg
vis_pred/detection_31.jpg
vis_pred/detection_32.jpg
vis_pred/detection_33.jpg
vis_pred/detection_34.jpg
vis_pred/detection_35.jpg
vis_pred/detection_36.jpg
vis_pred/detection_37.jpg
vis_pred/detection_38.jpg
vis_pred/detection_39.jpg
vis_pred/detection_40.jpg
vis_pred/detection_41.jpg
vis_pred/detection_42.jpg
vis_pred/detection_43.jpg
vis_pred/detection_44.jpg
vis_pred/detection_45.jpg
vis_pred/detection_46.jpg
vis_pred/detection_47.jpg
vis_pred/detection_48.jpg
vis_pred/detection_49.jpg
vis_pred/detection_50.jpg
vis_pred/detection_51.jpg
vis_pred/detection_52.jpg
vis_pred/detection_53.jpg
vis_pred/detection_54.jpg
vis_pred/detection_55.jpg
vis_pred/detection_56.jpg
vis_pred/detection_57.jpg
vis_pred/detection_58.jpg
vis_pred/detection_59.jpg
vis_pred/detection_60.jpg
vis_pred/detection_61.jpg
vis_pred/detection_62.jpg
vis_pred/detection_63.jpg
vis_pred/detection_64.jpg
vis_pred/detection_65.jpg
vis_pred/detection_66.jpg
vis_pred/detection_67.jpg
vis_pred/detection_68.jpg
vis_pred/detection_69.jpg
vis_pred/detection_70.jpg
vis_pred/detection_71.jpg
vis_pred/detection_72.jpg
vis_pred/detection_73.jpg
vis_pred/detection_74.jpg
vis_pred/detection_75.jpg
vis_pred/detection_76.jpg
vis_pred/detection_77.jpg
vis_pred/detection_78.jpg
vis_pred/detection_79.jpg
vis_pred/detection_80.jpg
vis_pred/detection_81.jpg
vis_pred/detection_82.jpg
vis_pred/detection_83.jpg
vis_pred/detection_84.jpg
vis_pred/detection_85.jpg
vis_pred/detection_86.jpg
vis_pred/detection_87.jpg
vis_pred/detection_88.jpg
vis_pred/detection_89.jpg
vis_pred/detection_90.jpg
vis_pred/detection_91.jpg
vis_pred/detection_92.jpg
vis_pred/detection_93.jpg
vis_pred/detection_94.jpg
vis_pred/detection_95.jpg
vis_pred/detection_96.jpg
vis_pred/detection_97.jpg
vis_pred/detection_98.jpg
vis_pred/detection_99.jpg
vis_pred/detection_100.jpg
vis_pred/detection_101.jpg
vis_pred/detection_102.jpg
vis_pred/detection_103.jpg
vis_pred/detection_104.jpg
vis_pred/detection_105.jpg
vis_pred/detection_106.jpg
vis_pred/detection_107.jpg
vis_pred/detection_108.jpg
vis_pred/detection_109.jpg
vis_pred/detection_110.jpg
vis_pred/detection_111.jpg
vis_pred/detection_112.jpg
vis_pred/detection_113.jpg
vis_pred/detection_114.jpg
vis_pred/detection_115.jpg
vis_pred/detection_116.jpg
vis_pred/detection_117.jpg
vis_pred/detection_118.jpg
vis_pred/detection_119.jpg
vis_pred/detection_120.jpg
vis_pred/detection_121.jpg
vis_pred/detection_122.jpg
vis_pred/detection_123.jpg
vis_pred/detection_124.jpg
vis_pred/detection_125.jpg
vis_pred/detection_126.jpg
vis_pred/detection_127.jpg
vis_pred/detection_128.jpg
vis_pred/detection_129.jpg
vis_pred/detection_130.jpg
vis_pred/detection_131.jpg
vis_pred/detection_132.jpg
vis_pred/detection_133.jpg
vis_pred/detection_134.jpg
vis_pred/detection_135.jpg
vis_pred/detection_136.jpg
vis_pred/detection_137.jpg
vis_pred/detection_138.jpg
vis_pred/detection_139.jpg
vis_pred/detection_140.jpg
vis_pred/detection_141.jpg
vis_pred/detection_142.jpg
vis_pred/detection_143.jpg
vis_pred/detection_144.jpg
vis_pred/detection_145.jpg
vis_pred/detection_146.jpg
vis_pred/detection_147.jpg
vis_pred/detection_148.jpg
vis_pred/detection_149.jpg
vis_pred/detection_150.jpg
vis_pred/detection_151.jpg
vis_pred/detection_152.jpg
vis_pred/detection_153.jpg
vis_pred/detection_154.jpg
vis_pred/detection_155.jpg
vis_pred/detection_156.jpg
vis_pred/detection_157.jpg
vis_pred/detection_158.jpg
vis_pred/detection_159.jpg
vis_pred/detection_160.jpg
vis_pred/detection_161.jpg
vis_pred/detection_162.jpg
vis_pred/detection_163.jpg
vis_pred/detection_164.jpg
vis_pred/detection_165.jpg
vis_pred/detection_166.jpg
vis_pred/detection_167.jpg
vis_pred/detection_168.jpg
visualize/detection_0.jpg
visualize/detection_1.jpg
visualize/detection_2.jpg
visualize/detection_3.jpg
visualize/detection_4.jpg
visualize/detection_5.jpg
visualize/detection_6.jpg
visualize/detection_7.jpg
visualize/detection_8.jpg
visualize/detection_9.jpg
visualize/detection_10.jpg
visualize/detection_11.jpg
visualize/detection_12.jpg
visualize/detection_13.jpg
visualize/detection_14.jpg
